@charset "utf-8";
.container-fluid {
    background-color: rgba(245,239,217,1.00);
    background-image: -webkit-linear-gradient(270deg,rgba(33,85,85,1.00) 0%,rgba(156,169,166,1.00) 43.11%,rgba(23,50,49,1.00) 100%);
    background-image: -moz-linear-gradient(270deg,rgba(33,85,85,1.00) 0%,rgba(156,169,166,1.00) 43.11%,rgba(23,50,49,1.00) 100%);
    background-image: -o-linear-gradient(270deg,rgba(33,85,85,1.00) 0%,rgba(156,169,166,1.00) 43.11%,rgba(23,50,49,1.00) 100%);
    background-image: linear-gradient(180deg,rgba(33,85,85,1.00) 0%,rgba(156,169,166,1.00) 43.11%,rgba(23,50,49,1.00) 100%);
}

.container .navbar.navbar-expand-lg.navbar-light.bg-light {
    background-image: -webkit-linear-gradient(270deg,rgba(0,0,0,1.00) 3.73%,rgba(0,0,0,1.00) 3.73%,rgba(5,56,50,1.00) 100%,rgba(0,35,31,1.00) 100%);
    background-image: -moz-linear-gradient(270deg,rgba(0,0,0,1.00) 3.73%,rgba(0,0,0,1.00) 3.73%,rgba(5,56,50,1.00) 100%,rgba(0,35,31,1.00) 100%);
    background-image: -o-linear-gradient(270deg,rgba(0,0,0,1.00) 3.73%,rgba(0,0,0,1.00) 3.73%,rgba(5,56,50,1.00) 100%,rgba(0,35,31,1.00) 100%);
    background-image: linear-gradient(180deg,rgba(0,0,0,1.00) 3.73%,rgba(0,0,0,1.00) 3.73%,rgba(5,56,50,1.00) 100%,rgba(0,35,31,1.00) 100%);
}
.navbar-nav.mr-auto .nav-item .nav-link {
    color: rgba(137,220,221,1.00);
}
.container footer {
    color: rgba(97,97,97,1.00);
}
.navbar.navbar-expand-lg.navbar-light.bg-light .navbar-toggler .navbar-toggler-icon {
    color: rgba(137,220,221,1.00);
    background-color: rgba(44,67,65,1.00);
}
.card.col-md-4.col-lg-12 .card-body .btn.btn-primary {
    background-image: -webkit-linear-gradient(270deg,rgba(4,66,78,1.00) 0%,rgba(15,168,150,1.00) 100%);
    background-image: -moz-linear-gradient(270deg,rgba(4,66,78,1.00) 0%,rgba(15,168,150,1.00) 100%);
    background-image: -o-linear-gradient(270deg,rgba(4,66,78,1.00) 0%,rgba(15,168,150,1.00) 100%);
    background-image: linear-gradient(180deg,rgba(4,66,78,1.00) 0%,rgba(15,168,150,1.00) 100%);
}
.container .text-center {
    color: rgba(0,78,64,1.00);
}
